@use "../../utils/mixins";
@use "../../utils/variables";

.section-calendar-in-tabs {
  background-color: variables.$light-gray-100;
  overflow: hidden;

  .tabs {
    padding-bottom: 0;
  }

  .section__title {
    margin-bottom: 10px;
    text-align: left;
  }

  .sub-title {
    line-height: 1.67;
  }
}

.category {
  text-align: center;

  &__heading {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-left: 110px;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100vw;
      height: 1px;
      background: #959595;
      transform: translateX(-50%);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    margin-right: 76px;
    margin-bottom: 23px;
  }

  &__icon {
    width: 82px;
    height: 82px;
    display: flex;
    align-items: flex-end;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.allergen-toggle-btn {
  display: none;
  margin: 0 auto 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  border: none;
  background-color: transparent;

  .btn-text {
    display: block;
  }

  .load_more {
    width: 60px;
    height: 60px;
    background-size: 41px 41px;
    margin-bottom: 14px;
  }
}

.allergen-list {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 25px;
}

.allergen-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  padding: 0 15px;
  margin-bottom: 30px;
  font-weight: 500;
  text-align: center;
  color: #000;

  &__image {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 800px) {
  .allergen-item {
    width: 25%;
  }
}

@include mixins.respond-to(variables.$sm) {
  .allergen-toggle-btn {
    display: inline-block;
  }
  .allergen-item {
    width: 33.33%;

    &__image {
      min-width: 60px;
      width: 60%;
      height: auto;
    }
  }

  .category.open .load_more {
    transform: rotate(45deg);
  }
}

@include mixins.respond-to(variables.$xs) {
  .category__heading {
    padding-left: 0;
  }
  .category__icon {
    width: 60px;
    height: 60px;
  }
  .category__title {
    font-size: 22px;
  }
  .allergen-list {
    padding-bottom: 0;
  }
}