@use "../../utils/mixins";
@use "../../utils/variables";

.section-intro {
  padding-top: 0;
  margin-top: 0;
  font-size: 32px;
  line-height: 1.625;
  color: variables.$black;
  overflow: hidden;

  .container {
    overflow: visible !important;
  }

  img {
    display: block;
    position: absolute;
    left: 40%;
    bottom: 0;
    top: 0;
    width: 60%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    object-position: center;
    background-color: #D9D9D9;
  }

  .section__title {
    width: 100%;
  }

  .section__content {
    position: relative;
    padding: 9px 60% 9px 0;
  }

  .section__text {
    padding-right: 16px;
  }
}

@include mixins.respond-to(variables.$xl) {
  .section-intro {
    font-size: 28px;

    img {
      width: 60vw;
    }
  }
}

@include mixins.respond-to(variables.$lg) {
  .section-intro {
    .section__text {
      font-size: 26px;
      margin-bottom: 50px;
    }
  }
}

@include mixins.respond-to(variables.$md) {
  .section-intro {
    .section__content {
      padding-bottom: 0;
      padding-right: 0;

      .section__text {
        font-size: 24px;
        margin-bottom: 50px;
      }

      img {
        position: static;
        height: 456px;
        width: 100%;
      }
    }
  }
}