@use "../../utils/mixins";
@use "../../utils/variables";

.section-info {
  padding: 120px 0 108px;
  .container{
    padding-left: 0;
  }
}

.slider-info {
  max-width: 1440px;
  .swiper-slide {
    display: flex;
  }

  .heading_lg {
    margin-bottom: 40px;
  }

  .part_left {
    position: relative;
    width: 58%;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }
  }

  .part_right {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    position: relative;
    padding: 47px 27px 47px 47px;
    width: 42%;
    min-height: 650px;
    z-index: 1;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: -60px;
      width: 100%;
      height: 100%;
      background: #FFFFFF;
      transform: skewX(-10deg);
      transform-origin: right;
      transition: 0.4s ease;
      z-index: -1;
    }

    &:hover:before {
      transform: skew(0);
      left: 0;
    }
  }

  &__title {
    color: variables.$black;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.3;
    margin-bottom: 75px;
  }

  .swiper-nav {
    width: 118px;
    position: absolute;
    bottom: 10px;
    right: 0;
    height: 30px;
  }

  .btn_main {
    box-shadow: 0 17px 42.3px 0 rgba(0, 0, 0, .15);
    transition: .35s;
    &:hover{
      box-shadow: none;
    }
  }
}
