@use "../../utils/mixins";
@use "../../utils/variables";

.section-with-tabs {
  background-color: variables.$light-gay-100;
  padding-top: 100px;
.section__title{
  text-align: left;
}
  .tabs {
    padding-top: 0;
    padding-bottom: 100px;
  }
}

.slider-posts {
  padding: 15px 10px 75px;

  .swiper-slide {
    width: auto;
    height: auto;
  }
}

.blog-slider {
  padding-bottom: 15px;
}