@use "../../utils/mixins";
@use "../../utils/variables";

.section-question {
  padding-bottom: 100px;
  .section__title {
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    color: variables.$green-100;
    text-align: left;
  }

  .section__heading {
    width: calc(50% - 22px);
    flex-shrink: 0;
  }

  .section__content {
    width: calc(50% + 22px);
    padding-left: 22px;
  }
}