@use "../../utils/mixins";
@use "../../utils/variables";

.section-blog {
  padding: 0;
  margin: 0;

  .filter {
    padding-bottom: 50px;
  }

  .wrap-btn {
    text-align: center;
  }
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 24px;
  grid-row-gap: 50px;
  padding-bottom: 50px;

  > * {
    min-width: 0;
  }
}

@include mixins.respond-to(variables.$screen-md) {
  .card-post__title {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

@include mixins.respond-to(variables.$md) {
  .card-post__title {
    font-size: 16px;
  }
  .card-post__body {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@include mixins.respond-to(variables.$sm) {
  .blog-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
  }
}

@include mixins.respond-to(variables.$xs) {
  .blog-list {
    display: block;
    max-width: 380px;
    margin: 0 auto;
  }
  .post-item {
    margin-bottom: 25px;
  }
  .filter{
    flex-wrap: wrap;
    &__item{
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
      max-width: 100%;
    }
  }
}