@use "../../utils/mixins";
@use "../../utils/variables";

.section-flowering {
  overflow: hidden;

  .container {
    padding: 0;
  }

  .calendar-wrapper {
    position: relative;
  }

  .btn_main {
    font-weight: 400;
  }

  .wrap-btn {
    text-align: center;
    padding-top: 50px;
  }
}

@include mixins.respond-to(variables.$xs) {
  .section-flowering .wrap-btn {
    padding-top: 0;
  }
}