@use "../../utils/mixins";
@use "../../utils/variables";

.section-blog{
  padding-bottom: 50px;
  .filter{
    padding-bottom: 50px;
  }
  .wrap-btn{
    text-align: center;
  }
}

.blog-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 50px;
  padding-bottom: 50px;
}