@use "../../utils/mixins";
@use "../../utils/variables";

.section-map {
  background-color: variables.$light-gray-100;

  .heading {
    font-weight: 400;
    color: variables.$green-100;
  }

  .distribution-map {
    position: relative;
    overflow: hidden;
    //min-height: 686px;
    min-height: 340px;
    padding-top: 52.25%;
    margin-bottom: 50px;

    .map-img, frame {
      position: absolute;
      inset: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text_xl {
    line-height: 1.1;
    color: variables.$green-100;
  }
}

@include mixins.respond-to(variables.$sm) {
  .section-map .text_xl {
    font-size: 26px;
  }
}

@include mixins.respond-to(variables.$sm) {
  .section-map .text_xl {
    font-size: 24px;
  }
}

@include mixins.respond-to(variables.$xs) {
  .section-map {
    padding-bottom: 50px;
    .text_xl {
      font-size: 20px;
    }
    .distribution-map {
      margin-bottom: 25px;
    }
  }
}