@use "../../utils/mixins";
@use "../../utils/variables";

.section-banner {
  padding: 110px 110px;
  background-color: variables.$mint;

  .heading_xxl {
    font-weight: 900;
    line-height: 1.18;
    letter-spacing: 0.01em;
  }

  &__text,
  .heading_xxl {
    margin-bottom: 30px;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .part_left {
    width: 54%;
  }

  .part_right {
    width: 46%;
    padding: 0 7%;
  }
}

@include mixins.respond-to(variables.$xl) {
  .section-banner {
    padding-top: 50px;
  }
}

@include mixins.respond-to(variables.$md) {
  .section-banner {
    padding-top: 0;

    .container {
      flex-wrap: wrap;
      position: relative;
    }

    .btn {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .part {
      width: 100%;
    }
  }
}

@include mixins.respond-to(variables.$sm) {

}

@include mixins.respond-to(variables.$xxs) {

}