@use "../../utils/mixins";
@use "../../utils/variables";

.section-flowering {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;

  .container {
    padding: 0;
  }

  .calendar-wrapper {
    position: relative;
  }

  .btn_main {
    font-weight: 400;
  }

  .wrap-btn {
    text-align: center;
  }
}

@include mixins.respond-to(variables.$xl) {

}