@use "../../utils/mixins";
@use "../../utils/variables";

.slider-info {
  .swiper-slide {
    display: flex;
    height: auto;
  }

  .heading_lg {
    font-size: 46px;
    margin-bottom: 50px;
  }

  .part_left {
    position: relative;
    width: 58%;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }
  }

  .part_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding: 47px 27px 47px 47px;
    width: 42%;
    min-height: 440px;
    z-index: 1;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: -60px;
      width: 100%;
      height: calc(100% + 2px);
      background: #FFFFFF;
      transform: skewX(-10deg);
      transform-origin: right;
      transition: 0.4s ease;
      z-index: -1;
    }

    &:hover:before {
      transform: skew(0);
      left: 0;
    }
  }

  &__title {
    color: variables.$black;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.3;
    margin-bottom: 50px;
  }

  .swiper-nav {
    width: 118px;
    position: absolute;
    bottom: 10px;
    right: 0;
    height: 30px;
  }

  .btn_main {
    box-shadow: 0 17px 42.3px 0 rgba(0, 0, 0, .15);
    transition: .35s;

    &:hover {
      box-shadow: none;
    }
  }
}

@include mixins.respond-to(variables.$md) {
  .section-info {
    .container {
      padding-left: 0;
    }
  }
  .slider-info {
    .swiper-nav {
      bottom: 0;
    }

    .part_left,
    .part_right {
      width: 50%;
      min-height: 476px;
    }
  }
}

@include mixins.respond-to(variables.$sm) {
  .section-info .part_right {
    padding-left: 27px;
  }
  .slider-info {
    .heading_lg {
      font-size: clamp(24px, calc(24px + 18 * ((100vw - 320px) / 447)), 42px);
      margin-bottom: 40px;
    }

    &__title {
      font-size: clamp(14px, calc(14px + 14 * ((100vw - 320px) / 447)), 28px);
      margin-bottom: 40px;
    }

    .btn_main {
      padding-left: 14px;
      padding-right: 14px;
    }
  }
}

@include mixins.respond-to(variables.$xs) {
  .section-info {
    .container {
      padding-left: 24px;
    }
  }
  .slider-info {
    .part_right {
      padding: 25px 23px;
    }

    .part_right:before {
      display: none;
    }

    .part_right,
    .part_left {
      width: 100%;
      min-height: 125px;
    }

    .part_left {
      padding-top: 44%;
    }

    .swiper-slide {
      display: block;
      text-align: center;
    }

    .heading_lg {
      text-align: center;
      margin-bottom: 25px;
      width: 100%;
    }

    .btn {
      margin: 0 auto;
    }
  }
  .slider-info__title {
    margin-bottom: 25px;
  }
}

@include mixins.respond-to(variables.$xxs) {
  .section-info {
    .container {
      padding-left: 16px;
    }
  }
}

@media screen and (max-width: 360px) {

}