@use "../../utils/mixins";
@use "../../utils/variables";

.section-with-tabs {
  background-color: variables.$light-gray-100;
  padding-top: 100px;
.section__title{
  text-align: left;
}
  .tabs {
    padding-top: 0;
    padding-bottom: 100px;
  }
}

.slider-posts {
  max-width: 1200px;
  width: 90%;
  padding: 15px 10px 15px;

  .swiper-slide {
    width: auto;
    height: auto;
  }
}

