@use "../../utils/mixins";
@use "../../utils/variables";

.section-with-tabs {
  padding-bottom: 0;
  margin: 0;
  .section__title {
    text-align: left;
  }

  .tabs {
    padding-top: 0;
    padding-bottom: 100px;
  }
}

.slider-posts {
  max-width: 1200px;
  width: 90%;
  padding: 15px 10px 15px;

  .swiper-slide {
    width: auto;
    height: auto;
  }
}

@include mixins.respond-to(variables.$xs) {
  .tabs__nav {
    padding-bottom: 30px;
  }
  .tabs__nav-link {
    line-height: 1;
  }
  .tabs__nav-link:first-child {
    text-align: left;
  }
  .tabs__nav-link:last-child {
    text-align: right;
  }
}

@include mixins.respond-to(variables.$xxs) {
  .slider-posts {
    width: 100%;
  }
  .card-post__thumb {
    min-height: 223px;
  }
  .card-post__body {
    padding: 22px 20px 20px;
  }
  .card {
    border-radius: 8px;
    box-shadow: 0 2px 4.91px 0 rgba(0, 0, 0, 0.25);
  }
}