@use "../../utils/mixins";
@use "../../utils/variables";

.section-banner {
  padding: 110px 0 110px;
  background-color: variables.$mint;

  .heading_xxl {
    font-weight: 900;
    line-height: 1.18;
    letter-spacing: 0.01em;
  }

  &__text,
  .heading_xxl {
    margin-bottom: 30px;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .part_left {
    width: 54%;
  }

  .part_right {
    width: 46%;
    padding: 0 7%;
  }
}

@include mixins.respond-to(variables.$xl) {
  .section-banner {
    padding-top: 50px;
  }
  .section-banner__text{
    font-size: 24px;
  }
}

@include mixins.respond-to(variables.$md) {
  .section-banner {
    .container {
      flex-wrap: wrap;
      position: relative;
    }

    .btn {
      width: calc(100% - 64px);
      position: absolute;
      bottom: -50px;
      left: 32px;
    }

    .part {
      width: 100%;
    }

    .part_right {
      padding-bottom: 50px;
      img{
        max-width: 437px;
        margin: 0 auto;
      }
    }
  }
}

@include mixins.respond-to(variables.$xs) {
  .section-banner__text{
    font-size: 20px;
  }
}

@include mixins.respond-to(variables.$xxs) {
  .section-banner__text{
    font-size: 18px;
  }
}
@media only screen and (max-width: 360px) {
  .section-banner__text{
    font-size: 16px;
  }
}