@use "../../utils/mixins";
@use "../../utils/variables";

.section-flowering {
  padding-top: 100px;
  padding-bottom: 50px;
  overflow: hidden;

  .btn_main {
    font-weight: 400;
  }

  .wrap-btn {
    text-align: center;
  }
}