@use "../../utils/mixins";
@use "../../utils/variables";

.section-products {
  margin-bottom: 50px;
  .swiper-wrapper {
    justify-content: space-between;
  }

  @include mixins.respond-to(variables.$sm) {
    .swiper-wrapper {
      justify-content: flex-start;
    }
    .product {
      max-width: 100%;
      width: 100%;
    }
  }
  @include mixins.respond-to(variables.$xs) {
    .btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
  @include mixins.respond-to(variables.$xxs) {

  }
}