@use "../utils/mixins";
@use "../utils/variables";

.accordion {
  overflow: hidden;
  border-top: 1px solid variables.$main-color;

  .panel {
    width: 100%;
  }

  .open-panel {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 30px;
    right: 0;

    &:before {
      position: absolute;
      content: '';
      background-image: url(../assets/img/plus.svg);
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .panel {
    border-bottom: 1px solid variables.$main-color;
    &__heading {
      position: relative;
      transition: .7s;
      padding: 30px 45px 30px 0;
    }
    &__title {
      font-weight: 400;
      font-size: 24px;
      line-height: 1.2;
      letter-spacing: -0.03em;
    }
  }

  .panel-collapse {
    display: none;
    padding-bottom: 30px;
    &__body p {

    }
  }

  .open {
    display: block;

    .open-panel {
      transition: transform .5s;
      transform:  rotate(-45deg);
    }
  }
}

@include mixins.respond-to(variables.$xl) {
  .accordion .panel__title{
    font-size: 20px;
  }
}

@include mixins.respond-to(variables.$xs) {
  .accordion .panel__title{
    font-size: 18px;
  }
  .accordion .open-panel:before {
    width: 20px;
    height: 20px;
  }
  .accordion .panel__heading {
    padding: 15px 40px 15px 0;
  }
  .accordion .open-panel {
    top: 14px;
  }
}
