@use "../utils/mixins";
@use "../utils/variables";

.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: .35s;
  font-weight: 800;
  font-size: 22px;
  line-height: 1;
  font-family: variables.$main-font;
  padding-top: 19px;
  padding-bottom: 19px;

  img {
    width: 100%;
    display: inline-block;
  }

  &_main {
    background-color: variables.$green-100;
    color: variables.$white;
    padding-left: 44px;
    padding-right: 44px;
    border: none;

    &:hover,
    &:focus {


    }
  }

  &_outline {
    background-color: transparent;
    border: 1px solid variables.$green-50;
    border-radius: 5px;
    padding: 14px 69px 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    &:hover,
    &:focus {

    }
  }

  &_secondary {
    border: 1px solid variables.$green-50;
    border-radius: 5px;
    padding-left: 60px;
    padding-right: 60px;

    &:hover,
    &:focus {

    }
  }
}

.load_more {
  display: inline-block;
  width: 99px;
  height: 99px;
  background-color: variables.$white;
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .25);
  background-image: url(../assets/img/plus-green.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 67px 67px;
  transition: transform .35s;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}
