@use "../utils/mixins";
@use "../utils/variables";

.card-product {
  padding: 19px 23px 24px;
  font-size: 15px;
  margin-bottom: 33px;

  &__thumb {
    padding-top: 86.5%;
    position: relative;
    margin-bottom: 14px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }

  &__body {
    position: relative;
    padding: 30px 7px 0;

    &:after {
      position: absolute;
      content: '';
      display: block;
      height: 1px;
      width: 89%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: variables.$main-color;
      z-index: 1;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 30px;
    line-height: .83;
    margin-bottom: 6px;
  }

  &__text {
    margin-bottom: 43px;

    span {
      display: inline-block;
    }
  }
}

.products {
  display: flex;
  justify-content: space-between;
}

.product {
  .btn {
    display: block;
    max-width: 260px;
    width: 100%;
    font-weight: 400;

    &:first-child {
      margin-bottom: 10px;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 23px;
  }
}

.slider-products{
  max-width: 1200px;
  width: 90%;
  padding: 10px 15px 0;
}

@include mixins.respond-to(variables.$xl) {
  .card-product {
    &__title {
      font-size: clamp(26px,calc(26px + 4 * ((100vw - 1025px) / 414)), 30px);
    }
  }
}
@media screen and (max-width: 750px){
  .card-product {
    &__title {
      //font-size: 28px;
    }
  }
}

