@use "../utils/mixins";
@use "../utils/variables";
.card{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 2px 7.6px 0 rgba(0, 0, 0, .25);
  background-color: variables.$light-gray;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}
.card-post {
  &__thumb {
    padding-top: 76%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 21px;
  }

  &__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.33;
    margin-bottom: 40px;
    color: variables.$black;
  }

  &__body {
    position: relative;
    padding: 34px 30px 30px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:before {
      position: absolute;
      content: '';
      background-color: variables.$main-color;
      height: 1px;
      max-width: 332px;
      width: 78%;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      z-index: 1;
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    margin-top: auto;
    font-size: 15px;
    line-height: 1.056;
    color: variables.$green-100;
    padding-bottom: 2px;
    width: max-content;

    &:before {
      position: absolute;
      content: '';
      background-color: variables.$green-100;
      height: 1px;
      width: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      transition: width .35s;
    }

    &:hover:before {
       width: 100%;
    }
  }
}

@include mixins.respond-to(variables.$xl) {

}