@use "../utils/mixins";
@use "../utils/variables";
.section-counter{
  padding: 37px 0 21px;
  margin-bottom: 50px;
  background-color: variables.$mint-100;
}
.counter{
  display: flex;
  color: variables.$green;
  margin: 0 -12px;
  &__item{
    width: 33.33%;
    padding: 0 12px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
  }
  &__number{
    font-weight: 700;
    font-size: 96px;
    padding: 10px 0;
    margin-bottom: 10px;
  }
  &__text{
    font-weight: 600;
    font-size: 20px;
  }
  .swiper-button-prev,
  .swiper-button-next{
    display: none;
  }
}

@include mixins.respond-to(variables.$sm) {
  .counter{
    width: 100%;
    max-width: 540px;
    margin: 0 auto;

    .swiper-slide{
      border: 1px solid;
    }

    .swiper-button-prev,
    .swiper-button-next{
      display:block;
      height: 32px;
      border: 1px solid;
    }
    .swiper-button-next:after{
      margin-left: 10px;
    }
    &__number{
      font-size: clamp(50px, calc(50px + 46 * ((100vw - 320px) / 260)), 96px);
    }
    &__text{
      font-size: clamp(16px, calc(16px + 4 * ((100vw - 320px) / 260)), 20px);
    }
  }
}