@use "../utils/mixins";
@use "../utils/variables";

form {
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;

  input {
    border: 1px solid variables.$green-100;
    padding: 17px 10px 17px 33px;
    line-height: 1.1;
  }
}

::placeholder {
  color: #666666;
}

.btn_submit {
  font-weight: 400;
  font-size: 22px;
  border: none;
  background-color: variables.$green-100;
  color: variables.$white;
  width: 310px;
}

.form-subscribe {
  .form__group {
    display: flex;
    padding-bottom: 56px;
  }

  input {
    width: 100%;
  }

  .btn_submit {
    margin-left: 24px;
  }
}

//CUSTOM CHECKBOX
.checkbox-wrap {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  padding-left: 55px;
  color: variables.$black;
  font-size: 22px;
  line-height: 1.1;
  max-width: 836px;
  width: 100%;

  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  input:checked + .checkmark {
    background: variables.$green-100;
  }

  input:checked + .checkmark::after {
    opacity: 1;
  }
}

.checkmark {
  width: 33px;
  height: 33px;
  border: 1px solid variables.$green-100;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 7px;
    height: 18px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
}

@include mixins.respond-to(variables.$xl) {
  form,
  .checkbox-wrap {
    font-size: 18px;
  }
}

@include mixins.respond-to(variables.$md) {
  .form-subscribe {
    .form__group {
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    .btn_submit {
      margin-left: 0;
      margin-top: 25px;
    }
  }
  .checkbox-wrap {
    font-size: 15px;
  }
}
@include mixins.respond-to(variables.$xs) {
  .form-subscribe{
    .btn_submit {
      width: 100%;
      margin-top: 15px;
    }
  }
}
@include mixins.respond-to(variables.$xxs) {

  .form-subscribe {
    input {
      padding-top: 10px;
      padding-bottom: 9px;
    }

    .form__group{
      padding-bottom: 25px;
    }
  }
  .checkbox-wrap {
    padding-left: 46px;
    font-size: 11px;
  }
}