@use "../utils/mixins";
@use "../utils/variables";

.menu {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  align-items: flex-end;

  &__item {
    padding: 5px 31px 5px 0;
    margin-left: 31px;
    position: relative;

    &:after {
      position: absolute;
      content: '/';
      display: block;
      line-height: 1.5;
      color: variables.$main-color;
      bottom: 0;
      right: 0;
      transform: translateX(50%);
    }

    &:last-child:after {
      display: none;
    }

    &:hover {
      .menu__sub-menu {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
        transition: transform .4s, opacity .3s;
      }
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    color: inherit;
    transition: .35s;

    &:after {
      position: absolute;
      content: '';
      display: block;
      background-color: variables.$green-100;
      width: 0;
      height: 2px;
      bottom: -5px;
      transition: width .35s;
    }

    &.active:after,
    &:hover:after {
      width: 100%;
    }
  }


  &__toggler {
    display: none;
  }

  &__sub-menu {
    position: fixed;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: #fff;
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
    pointer-events: none;
    transition: opacity .35s ease;
    width: 100vw;
    top: 87px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
    z-index: 99;

    li {
      margin-bottom: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid #E9EEF2;
      color: #6E8396;

      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
      }

      &:hover {
        color: variables.$main-color;
      }
    }
  }

  &__sub-title {
    color: variables.$green-100;
    text-align: center;
    transition: .35s;
    display: inline-block;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E9EEF2;

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    &:hover {
      color: variables.$green;
    }
  }
}


.nav-row {
  display: flex;
  height: auto;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 300;
  padding: 50px 64px 25px;
}

.nav-col {
  width: 20%;
  padding: 0 25px;
  border-left: 1px solid #E9EEF2;

  &:first-child {
    border-left: none;
  }
}

@include mixins.respond-to(variables.$screen-md) {
  .menu {
    font-size: 17px;

    &__item {
      padding-right: 20px;
      margin-left: 20px;
    }
  }
}

@include mixins.respond-to(variables.$md) {

  .menu {
    display: block;
    height: 100%;
    max-height: 100vh;
    overflow: scroll;
  }

  .menu__item {
    position: relative;

    &:after {
      display: none;
    }
  }
  .menu__link {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .menu__sub-menu li {
    border: none;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
  }
  .menu__sub-title {
    border: none;
    margin-bottom: 5px;
    padding-bottom: 0;
    padding-left: 20px;
    text-align: left;
  }
  .menu__item > .menu__sub-menu {
    position: static;
    max-height: 0;
    overflow: hidden;
    opacity: 1;
    pointer-events: all;
    transform: none;
    transition: max-height .35s ease;
    box-shadow: none;
    width: 100%;
  }
  .nav-col.is-open > .menu__sub-menu,
  .menu__item.is-open > .menu__sub-menu {
    max-height: 3000px;
    margin-top: 15px;
  }

  .menu__item:hover > .menu__sub-menu {
    opacity: 1;
    transform: none;
    pointer-events: all;
  }

  .nav-row {
    flex-direction: column;
    padding: 0;
  }

  .nav-col {
    position: relative;
    width: 100%;
    padding: 0 30px 0 0;
    border: none;
    margin-bottom: 15px;
  }

  .nav-col > .sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .35s ease;
    margin-top: 0;
    padding-left: 15px;
  }

  .nav-col.is-open > .sub-menu {
    max-height: 2000px;
    margin-top: 10px;
  }

  .menu__toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    width: 27px;
    height: 27px;
    background-image: url(../assets/img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    transition: transform .3s;
    z-index: 1;
  }
  .nav-col .menu__toggler {
    top: -5px;
  }
  .menu__item.is-open > .menu__toggler {
    transform: rotate(90deg);
  }

  .nav-col.is-open > .menu__toggler {
    transform: rotate(90deg);
  }
}
@include mixins.respond-to(variables.$xs) {
  .header__nav{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
