@use "../utils/mixins";
@use "../utils/variables";

.calendar-wrapper {
  position: relative;
}

.month-block {
  position: relative;

  &:first-child:before,
  &:after {
    position: absolute;
    content: '';
    display: block;
    background-color: #B5B5B5;
    width: 1px;
    height: 100%;
    z-index: 1;
  }

  &:first-child {
    margin-left: 50px;

    &:before {
      left: 0;
    }
  }

  &:after {
    right: 0;
    top: 0;
  }

  &__title {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
    text-transform: uppercase;
    color: variables.$green;
    padding-left: 15px;
    margin-bottom: 27px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 22px;
    margin-bottom: 35px;
  }

  a {
    display: inline-block;
  }

  .more-plants {
    display: flex;
    align-items: center;
    white-space: initial;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }

  .more-plants,
  &__item-name {
    font-weight: 500;
    font-size: 13px;
    line-height: 24.56px;
    color: variables.$black;

  }

  &__item-name {
    display: inline-block;
    padding-left: 15px;
  }

  &__item-image {
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }

  .load_more {
    flex-shrink: 0;
    width: 65px;
    height: 65px;
    background-size: 32px 32px;
    background-color: #E9EEF2;
    box-shadow: none;
    margin-right: 15px;
  }
}

@include mixins.respond-to(variables.$md) {
 .page-calendar .calendar-wrapper{
    margin-bottom: 0;
  }
  .mCSB_container,
  .month-wrap{
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
  }
  .month-block {
    width: 50%;
    margin-bottom: 25px;
    padding-left: 16px;
    &:first-child {
      margin-left: 0;
    }
    &__title{
      padding-left: 0;
    }
  }
}

@include mixins.respond-to(variables.$xxs) {
  .calendar-wrapper{
    margin-bottom: 25px;
  }
}