@use "../utils/mixins";
@use "../utils/variables";

//swiper pagination-bullets
.swiper-pagination{
  display: none;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.swiper-pagination-bullet {
  width: 24px;
  height: 2px;
  background-color: #d9d9d9;
  border-radius: 2px;
  opacity: 1;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #3f7f63; /* активний дот */
}
.swiper-button-next svg, .swiper-button-prev svg {
  display: none;
}

.swiper-button-next:after, .swiper-button-prev:after {
  color: #5B8869;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 30px;
  font-weight: 600;
}

@include mixins.respond-to(variables.$xs) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}