@use "../utils/mixins";
@use "../utils/variables";

.tabs{
  padding: 40px 0;

  &__nav{
    display: flex;
    padding-bottom: 50px;
  }
  &__nav-link{
    display: inline-block;
    width: 50%;
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    color: variables.$green-100;
    &.active{
      text-decoration: underline;
    }
  }
  &__content-wrapper{
    transition: height .35s ease;
  }
}
.tab-pane{
  display: none;
  opacity: 0;
  transition: opacity 0.35s ease;
  &.active{
    display: block;
    opacity: 1;
  }
}
