.promo-video {
  width: 100%;
  max-width: 848px;
  margin: 0 auto;
  background: #000;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.promo-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 16px;
}

.aspect-box {
  position: relative;
  width: 100%;
  padding-top: 56.56%; /* 16:9 */
  height: 0;
}

.promo-video__poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.btn-play {
  position: absolute;
  background-color: rgba(255, 255, 255, .8);
  border: none;
  width: 131px;
  height: 131px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;

  &:before {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50% 50%);
    z-index: 1;
  }
}