@use "../utils/mixins";
@use "../utils/variables";

.video-wrap{
  position: relative;
  padding-top: 56.25%;
  video{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}
.btn_play {
  position: absolute;
  background-color: rgba(255, 255, 255, .8);
  border: none;
  width: 131px;
  height: 131px;
  //padding-top: 10%;
  //min-width: 70px;
  //min-height: 70px;
  //width: 10%;
  border-radius: 50%;
  cursor: pointer;
  left: 50%;
  top: 31%;
  transform: translateX(-50%);
  z-index: 1;

  &:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19.5px 0 19.5px 30px;
    border-color: transparent transparent transparent #000000;
    margin-left: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}