$main-color: #383838;
$black: #000000;
$white: #ffffff;
$green: #007934;
$green-100: #7EA68C;
$green-50: #9AC9A2;

$mint: #E4F1E8;
$mint-100: #F2F8F4;
$jet-black: #383838;
$light-gay: #F5F5F5;
$light-gay-100:#FAFAFA;


$main-font: "Montserrat", sans-serif;

// Screen Variables

$xxs: '(max-width: 420px)';
$xs: '(max-width: 580px)';
$sm: '(max-width: 767px)';
$md: '(max-width: 991px)';
$lg: '(max-width: 1180px)';
$screen-md: '(max-width: 1350px)';
$xl:'(max-width: 1439px)';


