@use "../utils/mixins";
@use "../utils/variables";

html {
  //font: 400 16px variables.$main-font;
}

body {
  font: 400 24px variables.$main-font;
  height: 100%;
  color: variables.$main-color;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
  padding-top: 114px;
}

.color_green {
  color: variables.$green-100;
}

.section {

  &__title {
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
  }

  &__content p {
    margin-bottom: 2em;

    &:last-child {
      margin-bottom: 0;
    }
  }

}

.d-flex {
  display: flex;
}

.main-banner {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}


.dynamic-content {
  p {
    margin-bottom: 15px;
    line-height: 1.1;
  }

  img {
    max-width: 100%;
    height: auto;

    &.alignleft {
      float: left;
      margin: 4px 25px 25px 0;
    }

    &.alignright {
      float: right;
      margin: 4px 0 25px 25px;
    }

    &.aligncenter {
      display: block;
      margin: 50px auto;
      clear: both;
    }

    &.alignfull {
      width: 100%;
      height: auto;
      display: block;
      margin: 50px 0;
    }
  }


  h1, h2,
  h3, h4, h5, h6 {
    line-height: 1.1;
    text-transform: uppercase;
    color: variables.$green-100;
    text-align: center;
  }

  h3, h4, h5, h6 {
    font-weight: 700;
  }

  h1, h2 {
    font-size: 52px;
    font-weight: 400;
  }

  h3 {
    font-size: 36px;
    margin: 50px 0;
  }

  h4 {
    font-size: 26px;
  }

  ul, ol {
    margin-bottom: 20px;
  }

  ol {
    counter-reset: list;

    li {
      overflow-wrap: anywhere;
      position: relative;
      list-style: inherit;
      padding-left: 35px;

      &:before {
        position: absolute;
        top: 0;
        left: 8px;
        counter-increment: list;
        content: counter(list) '.';
      }
    }
  }

  ul {
    li {
      &:before {
        content: ".";
        display: block;
        position: absolute;
        left: 17px;
        top: -8px;
      }
    }
  }

  li {
    position: relative;
    padding-left: 34px;
    margin-bottom: 5px;
  }

  a {
    text-decoration: underline;
    overflow-wrap: anywhere;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.article .big-marker-ul {
  li {
    margin-bottom: 25px;

    &:before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: variables.$green-100;
      left: 0;
      top: 7px;
    }
  }
}

@include mixins.respond-to(variables.$xl) {
  body {
    font-size: 20px;
  }
  .dynamic-content {
    h1, h2 {
      font-size: 48px;
    }

    h3 {
      font-size: 34px;
    }
  }
}

@include mixins.respond-to(variables.$lg) {
  .main {
    padding-top: 100px;
  }
}

@include mixins.respond-to(variables.$md) {
  .main {
    padding-top: 96px;
  }
  .dynamic-content {
    h1, h2 {
      font-size: 44px;
    }

    h3 {
      font-size: 30px;
    }
  }
}

@include mixins.respond-to(variables.$sm) {
  body {
    font-size: clamp(16px, calc(16px + 4 * ((100vw - 320px) / 447)), 20px);
  }
}

@include mixins.respond-to(variables.$xs) {
  .section__title {
    margin-bottom: 30px;
  }
  .dynamic-content {
    img.alignfull {
      margin: 25px 0;
    }

    h1, h2,
    h3, h4, h5, h6 {
      margin: 30px 0;
    }
    h1, h2 {
      font-size: 35px;
    }
    h3 {
      font-size: 24px;
    }
  }
}
@include mixins.respond-to(variables.$xxs) {
  .dynamic-content {
    h1, h2 {
      font-size: 26px;
    }

    h3 {
      font-size: 20px;
    }
  }
}