@use "../utils/mixins";
@use "../utils/variables";

html {
  //font: 400 16px variables.$main-font;
}

body {
  font: 400 24px variables.$main-font;
  height: 100%;
  color: variables.$main-color;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  padding-top: 114px;
}

.color_green {
  color: variables.$green-100;
}

.section {

  &__title {
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
  }

  &__content p {
    margin-bottom: 2em;

    &:last-child {
      margin-bottom: 0;
    }
  }

}

.d-flex {
  display: flex;
}

.main-banner {
  position: relative;
  max-width: 1440px;
  margin: 50px auto;
  width: 100%;
  min-height: 592px;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}


.dynamic-content {
  p {
    margin-bottom: 15px;
  }

  img {
    max-width: 100%;
    height: auto;

    &.alignleft {
      float: left;
      margin: 4px 25px 25px 0;
    }

    &.alignright {
      float: right;
      margin: 4px 0 25px 25px;
    }

    &.aligncenter {
      display: block;
      margin: 50px auto;
      clear: both;
    }
    &.alignfull{
      width: 100%;
      height: auto;
      display: block;
      margin: 50px 0;
    }
  }


  h1, h2,
  h3, h4, h5, h6 {
    line-height: 1.1;
    text-transform: uppercase;
    color: variables.$green-100;
    text-align: center;
  }

  h3, h4, h5, h6 {
    font-weight: 700;
  }

  h1, h2 {
    font-size: 52px;
    font-weight: 400;
  }

  h3 {
    font-size: 36px;
    margin: 50px 0;
  }


  //
  //h1 {
  //  font-size: 36px;
  //}
  //
  //h2 {
  //  font-size: 32px;
  //}
  //
  //h3 {
  //  font-size: 24px;
  //}
  //
  //h4 {
  //  font-size: 22px;
  //}
  //
  //h5 {
  //  font-size: 18px;
  //  margin-bottom: 26px;
  //}
  //
  //h6 {
  //  font-size: 14px;
  //}
  //

  ul, ol {
    margin-bottom: 20px;
  }
  ol{
    counter-reset: list;
    li {
      overflow-wrap: anywhere;
      position: relative;
      list-style: inherit;
      padding-left: 35px;
      &:before {
        position: absolute;
        top: 0;
        left: 8px;
        counter-increment: list;
        content: counter(list)'.';
      }
    }
  }
  ul {
    li {
      &:before {
        content: ".";
        display: block;
        position: absolute;
        left: 17px;
        top: -8px;
      }
    }
  }
  li {
    position: relative;
    padding-left: 34px;
  }

  a {
    text-decoration: underline;
    overflow-wrap: anywhere;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
.article .big-marker-ul{
  li {
    margin-bottom: 25px;
    &:before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: variables.$green-100;
      left: 0;
      top: 6px;
    }
  }
}


@include mixins.respond-to(variables.$lg) {

}

@include mixins.respond-to(variables.$sm) {

}

@include mixins.respond-to(variables.$xs) {

}

