@use "../utils/mixins";
@use "../utils/variables";

.heading {
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  &_xxl{
    font-size: 86px;
  }

  &_lg {
    font-size: 52px;
    color: variables.$green-100;
  }

  &_md {
    font-size: 36px;
  }

  &_h2 {

  }

  &_h3 {

  }

  &_h4 {

  }

  &_h5 {

  }

  &_h6 {

  }
}

//---------
.text {
  &_xl {

  }

  &_lg {
    font-size: 28px;
    line-height: 1.43;
  }

  &_md {

  }

  &-sm {

  }

  &-xs {

  }
}

@include mixins.respond-to(variables.$lg) {


}
@include mixins.respond-to(variables.$md) {

}
@include mixins.respond-to(variables.$sm) {

}
@include mixins.respond-to(variables.$xs) {

}

@include mixins.respond-to(variables.$xxs) {

}








