@use "../utils/mixins";
@use "../utils/variables";

.heading {
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;

  &_xxl {
    font-size: 64px;
  }

  &_lg {
    //font-size: 52px;
    font-size: clamp(44px, calc(44px + 8 * ((100vw - 992px) / 448)), 52px);
    color: variables.$green-100;
  }

  &_md {
    font-size: 36px;
    font-weight: 700;
  }
}

//---------
.text {
  &_xl {
    font-size: 36px;
  }

  &_lg {
    font-size: 28px;
    line-height: 1.43;
  }

}

@include mixins.respond-to(variables.$xl) {
  .heading {
    //&_lg {
    //  font-size: 48px;
    //}

    &_md {
      font-size: 34px;
    }
  }
  .text {
    &_xl {
      font-size: 30px;
    }

    &_lg {
      font-size: 24px;
      line-height: 1.43;
    }

  }
}

@include mixins.respond-to(variables.$lg) {
  .heading_xxl {

  }

}

@include mixins.respond-to(variables.$md) {
  //.heading_md {
  //  font-size: 21px;
  //}
}

@include mixins.respond-to(variables.$sm) {
  .heading_xxl {
    font-size: clamp(34px, calc(34px + (64 - 34) * ((100vw - 320px) / (767 - 320))), 64px);
  }
}

@include mixins.respond-to(variables.$xs) {

}

@include mixins.respond-to(variables.$xxs) {

}








