@use "../utils/mixins";
@use "../utils/variables";

.heading {
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;

  &_xxl {
    font-size: 64px;
  }

  &_lg {
    //font-size: 52px;
    font-size: clamp(44px, calc(44px + 8 * ((100vw - 992px) / 448)), 52px);
    color: variables.$green-100;
  }

  &_md {
    font-size: 36px;
    font-weight: 700;
  }
}

//---------
.text {
  &_xl {
    font-size: 36px;
  }

  &_lg {
    font-size: 28px;
    line-height: 1.43;
  }

}

@include mixins.respond-to(variables.$xl) {
  .heading {

    &_md {
      font-size: 34px;
    }
  }
  .text {
    &_xl {
      font-size: 30px;
    }

    &_lg {
      font-size: 24px;
      line-height: 1.43;
    }

  }
}

@include mixins.respond-to(variables.$lg) {
  .heading_xxl {

  }

}

@include mixins.respond-to(variables.$md) {

}

@include mixins.respond-to(variables.$sm) {
  .heading_xxl {
    font-size: clamp(24px, calc(24px + 40 * ((100vw - 320px) / (767 - 320))), 64px);
  }
  .heading_lg {
    font-size: clamp(26px, calc(26px + 18 * ((100vw - 320px) / 447)), 44px);
  }
}


@include mixins.respond-to(variables.$xs) {
  .heading_xxl {
    font-size: 34px;
  }
  .heading_md {
    font-size: clamp(24px, calc(24px + 10 * ((100vw - 320px) / 260)), 34px);
  }
}








