@use "../utils/mixins";
@use "../utils/variables";

.heading {
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;

  &_xxl {
    font-size: 86px;
  }

  &_lg {
    font-size: 52px;
    color: variables.$green-100;
  }

  &_md {
    font-size: 36px;
    font-weight: 700;
  }
}

//---------
.text {
  &_xl {
    font-size: 36px;
  }

  &_lg {
    font-size: 28px;
    line-height: 1.43;
  }

}

@include mixins.respond-to(variables.$xl) {
  .heading {
    &_xxl {
      font-size: 76px;
    }

    &_lg {
      font-size: 48px;
    }

    &_md {
      font-size: 34px;
    }
  }
  .text {
    &_xl {
      font-size: 30px;
    }

    &_lg {
      font-size: 24px;
      line-height: 1.43;
    }

  }
}

@include mixins.respond-to(variables.$lg) {
  .heading_xxl{
  font-size: 60px;
}

}

@include mixins.respond-to(variables.$md) {
  .heading_xxl {
    font-size: 72px;
  }
}

@include mixins.respond-to(variables.$sm) {

}

@include mixins.respond-to(variables.$xs) {

}

@include mixins.respond-to(variables.$xxs) {

}








