@use "../utils/mixins";
@use "../utils/variables";

.section-img-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 0;
  font-size: 22px;
  line-height: 1.81;
  color: variables.$white;

  .section-calendar {
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    color: #FFFFFF;
    margin-bottom: 22px;
  }

  .section__content {
    max-width: 830px;
    width: 100%;
  }

  .section__title {
    font-size: 48px;
    text-transform: none;
    line-height: 1;
    margin-bottom: 25px;
    text-align: left;
  }

  .section__text {
    margin-bottom: 28px;
  }
}

.section-promo {
  background-color: variables.$light-gray-200;
  margin-bottom: 100px;

  .heading {
    margin-bottom: 25px;
  }

  .part {
    width: 50%;

    &_left {
      padding-right: 30px;
    }

    &_right {
      padding-left: 12px;
    }
  }
}

@include mixins.respond-to(variables.$xl) {
  .section-img-bg {
    font-size: 20px;

    .section__title {
      font-size: 44px;
    }
  }
}

@include mixins.respond-to(variables.$md) {
  .section-promo {
    .d-flex {
      flex-wrap: wrap;
    }

    .part {
      width: 100%;

      &_left {
        margin-bottom: 50px;
        padding-right: 0;
      }
    }
  }
  .section-img-bg .section__title {
    font-size: 40px;
  }
}

@include mixins.respond-to(variables.$sm) {
  .section-promo,
  .section-img-bg .section__title,
  .section-img-bg {
    text-align: center;
  }
  .section-promo .section__title,
  .section-img-bg .section__title{
    font-size: 34px;
  }
}

@include mixins.respond-to(variables.$xs) {
  .section-promo,
  .section-img-bg{
    font-size: 18px;
  }
  .section-promo {
    margin-bottom: 50px;
    .part_left {
      margin-bottom: 25px;
    }
  }
}