
.month-wrap {
  background-color: #fff;
  white-space: nowrap;
  position: relative
}

@media only screen and (max-width: 991px) {
  .month-wrap {
    white-space:normal;
    position: static;
    padding-top: 20px
  }
}

.month-block {
  //width: calc(1200px / 2);
  width: calc(100vw / 4);
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-bottom: 45px;
}


@media only screen and (max-width: 991px) {
  .month-block {
    width:100%;
  }
}

@media only screen and (max-width: 767px) {
  .month-block {
    width:100%;
  }
}

@media only screen and (max-width: 767px) {
  .month-block__items {
    margin-top:20px
  }
}


@media only screen and (max-width: 767px) {
  .month-block__item {
    width:100%;
    padding: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
}







/// scroll

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger {
  width: 160px!important;
  height: 55px;
  border-radius: 27px;
  background-color: rgba(85,180,255,.45);
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%)
}

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 44px;
  height: 44px;
  box-shadow: 0 10px 18px rgba(26,30,44,.3);
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative
}

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:after {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #55b4ff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:before {
  content: '';
  width: 1px;
  height: 100vh;
  background-color: #55b4ff;
  position: absolute;
  bottom: -10px;
  left: 50%;
  display: flex;
  justify-content: center;
  z-index: -1
}

.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #EFF2F5;
  height: 65px;
  display: flex;
  align-items: center;
  border-radius: 0
}

.mCS-my-theme.mCSB_scrollTools.mCSB_scrollTools_horizontal {
  height: 65px;
  display: flex;
  align-items: center
}

.mCSB_scrollTools .mCSB_draggerContainer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #EFF2F5;
}

.mCSB_horizontal.mCSB_inside>.mCSB_container {
  margin-bottom: 65px
}

.scroll-block {
  display: flex;
  align-items: center;
  height: 65px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid rgba(110,131,150,.3);
  pointer-events: none;
  padding: 0 4%
}



.scroll-items {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative
}

.scroll-items:before {
  content: '';
  height: 50%;
  display: block;
  border-left: 2px solid #6e8396;
  position: absolute;
  left: 0;
  bottom: 0
}

.scroll-items:last-child:after {
  content: '';
  height: 50%;
  display: block;
  border-left: 2px solid #6e8396;
  position: absolute;
  right: 0;
  bottom: 0
}

.scroll-items>h4 {
  width: 33%;
  height: 65px;
  position: relative;
  display: block;
  color: #6e8396;
  font-weight: 700;
  text-align: center;

  font-size: 32px;
  line-height: 2;
  text-transform: uppercase;

}

.scroll-items>h4:before {
  content: '';
  height: 25%;
  display: block;
  border-left: 1px solid #6e8396;
  position: absolute;
  left: 0;
  bottom: 0
}

.scroll-items>h4:after {
  content: '';
  height: 25%;
  display: block;
  border-left: 1px solid #6e8396;
  position: absolute;
  right: 0;
  bottom: 0
}

.mCSB_horizontal.mCSB_inside>.mCSB_container {
  margin-bottom: 65px;
}

.mCSB_horizontal.mCSB_inside>.mCSB_container {
  margin-right: 0;
  margin-bottom: 30px;
}
.mCSB_inside>.mCSB_container {
  margin-right: 30px;
}
.mCSB_container {
  overflow: hidden;
  width: auto;
  height: auto;
}


@media only screen and (max-width: 991px) {
  .scroll-block {
    display:none
  }
}