@use "../utils/mixins";
@use "../utils/variables";

.page {
  background-color: #FFFFFF;

  @include mixins.respond-to(variables.$lg) {

  }
  @include mixins.respond-to(variables.$sm) {

  }
  @include mixins.respond-to(variables.$xs) {

  }
  @include mixins.respond-to(variables.$xxs) {

  }

}

.page-blog {
  background-color: variables.$light-gray-100;
}

.page-useful {
  .section {
    padding-top: 100px;

    .heading {
      margin-bottom: 50px;
      text-align: center;
    }
  }

  @include mixins.respond-to(variables.$xs) {

  }
}

.wrap-blog-slider {
  width: 100%;
  position: relative;
}

.blog-slider {
  max-width: 1200px;
  margin: 0 auto;
}

.section-blog-slider {
  padding-top: 100px;
}

.page.page-article {
  background-color: #fff;
.section-products{
  padding: 50px 0;
}
  .section-blog-slider {
    padding-top: 50px;
  }
}

.article {
  padding-bottom: 50px;
  line-height: 1.1;

  &__title {
    margin-bottom: 50px;
    font-weight: 400;
    text-align: center;
  }

  &__thumb {
    width: 50%;
    margin-bottom: 50px;
    margin-right: 25px;
    float: left;
  }

  &__block-intro {
    margin-bottom: 50px;
  }
}