@use "../utils/mixins";
@use "../utils/variables";

.page {
  .section-question {
    padding-top: 100px;
  }

  @include mixins.respond-to(variables.$lg) {

  }
  @include mixins.respond-to(variables.$sm) {

  }
  @include mixins.respond-to(variables.$xs) {

  }
  @include mixins.respond-to(variables.$xxs) {

  }

}

