@use "../utils/mixins";
@use "../utils/variables";

.page-allergens {
  background-color: variables.$light-gray-100;

  .section-question {
    background-color: #fff;
  }
}

// allergens
.allergens {
  text-align: center;

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 50px;
    margin-bottom: 50px;

  }

  &__item a {
    display: block;
    position: relative;
    overflow: hidden;

    &:hover{
      .allergens__thumb {
        transform: scale(1.15);
      }
    }
  }

  &__thumb {
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100%;
    width: 100%;
    transition: transform .35s;
  }

  &__name {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.1;
    text-transform: uppercase;
    color: variables.$white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    z-index: 1;
  }

  .load_more {
    margin-bottom: 68px;
  }
}

@include mixins.respond-to(variables.$xl) {
  .allergens__name {
    font-size: 18px;
  }
}
