@use "../utils/mixins";
@use "../utils/variables";

.page {
  background-color: #FFFFFF;

  .section-question {
    padding-top: 100px;
  }

  @include mixins.respond-to(variables.$lg) {

  }
  @include mixins.respond-to(variables.$sm) {

  }
  @include mixins.respond-to(variables.$xs) {

  }
  @include mixins.respond-to(variables.$xxs) {

  }

}

.page-blog {
  background-color: variables.$light-gay-100;
}

.page-useful {
  .section {
    padding-top: 100px;

    .heading {
      margin-bottom: 50px;
      text-align: center;
    }
  }

  @include mixins.respond-to(variables.$xs) {

  }
}