@use "../utils/mixins";
@use "../utils/variables";
@use "./old-styles";


//------------ your styles

.page-calendar {
  .section-flowering {
    padding-top: 0;
    margin-top: 0;
  }

  .tabs {
    padding-bottom: 0;
  }

  .tabs__nav {
    padding: 10px 0 0;
    margin-bottom: 50px;
    border-bottom: 2px solid #6A6A6A
  }

  .tabs__nav-link {
    position: relative;
    display: block;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: variables.$grey;
    padding-bottom: 25px;

    &:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: -3px;
      background-color: transparent;
      height: 4px;
      z-index: 2;
    }

    &.active {
      color: variables.$green;
      text-decoration: none;

      &:before {
        background-color: variables.$green;
      }
    }
  }
}

.section-calendar-tabs {
  .heading {
    text-align: center;
  }
}

@include mixins.respond-to(variables.$xl) {
  .page-calendar .tabs__nav-link {
    font-size: 32px;
  }
}

@include mixins.respond-to(variables.$md) {
  .page-calendar {
    .calendar-wrapper {
      margin-bottom: 0;
    }

    .tabs__nav-link {
      font-size: 26px;
    }
  }
}

@include mixins.respond-to(variables.$xs) {
  .page-calendar .tabs__nav {
    margin-bottom: 25px;
  }
  .page-calendar {
    .tabs__nav-link {
      font-size: clamp(16px, calc(16px + 10 * ((100vw - 320px) / 260)), 26px);
      padding-bottom: 10px;
    }
  }
  .month-block:last-child {
    margin-bottom: 0;
  }
}