@use "../utils/mixins";
@use "../utils/variables";

.page {
  background-color: #FFFFFF;
  .section-with-tabs{
    padding: 50px 0;
    margin: 50px 0;
    .tabs:last-child{
      padding-bottom: 0;
    }
  }
}

.wrap-slider-products,
.wrap-slider-posts {
  width: 100%;
  position: relative;
}

.blog-slider {
  max-width: 1200px;
  margin: 0 auto;
}

.page.page-article {
  background-color: #fff;
}


@include mixins.respond-to(variables.$xs) {
  .page .section-with-tabs {
    padding: 25px 0;
    margin: 25px 0;
  }
}
@include mixins.respond-to(variables.$xxs) {

}