@use "../utils/mixins";
@use "../utils/variables";

.page-calendar {
  .section-flowering {
    padding-top: 0;
  }

  .tabs__nav {
    padding: 0;
    margin-bottom: 50px;
    border-bottom: 2px solid #6A6A6A
  }

  .tabs__nav-link {
    position: relative;
    display: block;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: variables.$grey;
    padding-bottom: 25px;

    &:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: -3px;
      background-color: transparent;
      height: 4px;
      z-index: 2;
    }

    &.active {
      color: variables.$green;
      text-decoration: none;
      &:before{
        background-color: variables.$green;
      }
    }
  }
}

@include mixins.respond-to(variables.$xl) {
  .page-calendar .tabs__nav-link {
    font-size: 32px;
  }
}