@use "../utils/mixins";
@use "../utils/variables";

//product-page

.single-product {
  padding-bottom: 100px;
}

.layout-with-sidebar {
  display: flex;
}

.sidebar {
  width: 29%;
}

.single-product {
  width: 71%;
  padding-left: 34px;
  flex-grow: 1;

  &-intro {
    margin-bottom: 50px;
  }

  &__thumb {
    width: 50%;
    height: 422px;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    overflow: hidden;
    padding: 25px;
    flex-shrink: 0;
    margin-right: 24px;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__title {
    margin-bottom: 50px;
  }

  &__heading {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid variables.$main-color;
  }

  &__sub-title {
    line-height: 1.1;
  }

  &__video {
    padding: 10px 0;
    display: flex;
    align-items: center;

    strong {
      padding-bottom: 10px;
      text-decoration: underline;
      text-decoration-style: dotted;
      text-underline-offset: 10px;
    }

    .btn {
      position: relative;
      padding-left: 28px;
      padding-right: 28px;
      border-radius: 5px;
      margin-left: 15px;

      &:before {
        position: absolute;
        content: '';
        width: 19px;
        height: 19px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../assets/img/play-white.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin-left: 2px;
        z-index: 1;
      }
    }
  }
}

.product-info {
  background-color: variables.$light-gray;
  padding: 8px 25px;
  align-items: center;

  .price__heading {
    font-weight: 300;
    font-size: 32px;
    line-height: 1.5;
  }

  .price__wrapper {
    font-weight: 600;
    font-size: 26px;
    line-height: 1;
  }

  .part_left {
    flex-grow: 1;
  }

  .part_right {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: variables.$black;
    text-align: center;

    .btn {
      min-width: 310px;
      margin-top: 12px;
      margin-bottom: 10px;
      font-weight: 700;
    }

    a:not(.btn) {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.block-order {
  display: flex;
  padding: 50px 0;
  justify-content: flex-end;
  align-items: center;

  &__text {
    margin-right: auto;
  }

  .btn {
    min-width: 310px;
    margin-left: 20px;

    &:last-child {
      border-color: #3FCFD5;
    }

    img {
      height: 31px;
    }
  }
}

.section-use {
  background-color: #F5F5F5;
  border-radius: 32px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
  padding: 25px 15px;

  .heading {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .d-flex {
    flex-wrap: wrap;
  }

  &__content {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .section__title {
    width: 100%;
    font-weight: 700;
    font-size: 38px;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .part {
    width: 50%;
    padding: 0 10px;
  }
}

@include mixins.respond-to(variables.$xl) {
  .product-info .price__heading {
    font-size: 28px;
  }
  .product-info .price__wrapper {
    font-size: 24px;
  }
  .section-use .section__title {
    font-size: 34px;
  }
  .section-use .heading {
    font-size: 22px;
  }
  .product-forms__thumb {
    width: 160px;
    height: 160px;
  }
  .product-forms__title {
    font-size: 16px;
  }
}

@include mixins.respond-to(variables.$screen-md) {
  .product-forms__thumb {
    width: 135px;
    height: 135px;
  }
  .sidebar {
    min-width: 296px;
  }
  .single-product__thumb {
    width: 49%;
    height: 370px;
  }
  .block-order .btn {
    min-width: 230px;
    padding: 10px 40px;
  }
  .product-info .price__heading {
    font-size: 20px;
  }
  .product-info .part_right .btn {
    min-width: 250px;
    height: 53px;
  }
  .single-product {
    padding-left: 20px;
  }
  .single-product__video .btn {
    margin-left: 10px;
  }
}

@include mixins.respond-to(variables.$lg) {
  .sidebar {
    width: 200px;
    min-width: 0;
  }

  .product-forms__card a {
    display: block;
  }
  .product-forms__content {
    padding-left: 0;
  }
  .product-forms__thumb {
    margin-bottom: 15px;
  }
  .section-use .heading {
    font-size: 20px;
  }
  .section-use .section__title {
    font-size: 30px;
  }
}

@include mixins.respond-to(variables.$md) {
  .sidebar {
    display: none;
  }
  .single-product {
    width: 100%;
    padding-left: 0;
  }
}

@include mixins.respond-to(variables.$sm) {
  .block-order__text {
    width: 100%;
    margin-bottom: 15px;
  }
  .block-order {
    flex-wrap: wrap;
    max-width: 507px;
    width: 100%;

    .btn:first-of-type {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 710px) {
  .section-use {
    border-radius: 16px;
  }
  .single-product-intro {
    flex-wrap: wrap;
  }
  .single-product__thumb {
    max-width: 320px;
    height: 320px;
    width: 100%;
    margin: 0 auto 50px;
    padding: 0;
  }
  .single-product__title {
    text-align: center;
    margin-bottom: 25px;
  }
  .product-info {
    flex-wrap: wrap;

    .price__heading {
      font-size: 28px;
    }

    .part_left {
      width: 100%;
    }
  }
}

@include mixins.respond-to(variables.$xs) {
  .section-use {
    margin-top: 0;

    .section__title {
      font-size: 24px;
    }

    .heading {
      font-size: 18px;
    }

    .part {
      width: 100%;
      padding: 0;
    }
  }
  .product-info {
    .price__heading {
      font-size: 18px;
      margin-bottom: 5px;
    }

    .price__wrapper {
      font-size: 18px;
    }

    .part_right .btn {
      height: auto;
      padding: 11px;
    }
  }
  .block-order {
    max-width: 300px;
    padding: 25px;

    .btn {
      min-width: 0;
      width: 100%;
      margin-bottom: 15px;
      margin-left: 0;

      img {
        max-width: 170px;
      }
    }
  }
  .single-product {
    padding-bottom: 0;

    &__thumb {
      margin-bottom: 25px;
    }
  }
  .single-product-intro {
    margin-bottom: 25px;
  }
}

@include mixins.respond-to(variables.$xxs) {
  .block-order {
    width: 100%;
    max-width: 100%;

    .btn {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .product-info {
    padding-left: 20px;
    padding-right: 20px;
    .part_right {
      width: 100%;
      .btn {
        min-width: 0;
      }
    }
    .price__heading {
      font-size: 16px;
    }
  }
}

