@use "../utils/mixins";
@use "../utils/variables";

.product-page {

}

.layout-with-sidebar {
  display: flex;
}

.sidebar {
  width: 29%;
}

.single-product {
  width: 71%;
  padding-left: 34px;

  &-intro {
    margin-bottom: 50px;
  }

  &__thumb {
    width: 50%;
    height: 422px;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    overflow: hidden;
    padding: 25px;
    flex-shrink: 0;
    margin-right: 24px;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__title {
    margin-bottom: 50px;
  }

  &__heading {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid variables.$main-color;
  }

  &__sub-title {
    line-height: 1.1;
  }

  &__video {
    padding: 10px 0;
    display: flex;
    align-items: center;

    strong {
      padding-bottom: 10px;
      text-decoration: underline;
      text-decoration-style: dotted;
      text-underline-offset: 10px;
    }

    .btn {
      position: relative;
      padding-left: 28px;
      padding-right: 28px;
      border-radius: 5px;
      margin-left: 15px;

      &:before {
        position: absolute;
        content: '';
        width: 19px;
        height: 19px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../assets/img/play-white.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin-left: 2px;
        z-index: 1;
      }
    }
  }
}

.product-info {
  background-color: variables.$light-gray;
  padding: 8px 25px;
  align-items: center;

  .price__heading {
    font-weight: 300;
    font-size: 32px;
    line-height: 1.5;
  }

  .price__wrapper {
    font-weight: 600;
    font-size: 26px;
    line-height: 1;
  }

  .part_left {
    flex-grow: 1;
  }

  .part_right {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: variables.$black;
    text-align: center;

    .btn {
      min-width: 310px;
      margin-top: 12px;
      margin-bottom: 10px;
      font-weight: 700;
    }

    a:not(.btn) {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.block-order {
  display: flex;
  padding: 50px 0;
  justify-content: flex-end;
  align-items: center;

  strong {
    margin-right: auto;
  }

  .btn {
    min-width: 310px;
    margin-left: 20px;

    &:last-child {
      border-color: #3FCFD5;
    }

    img {
      height: 31px;
    }
  }
}

.section-use {
  background-color: #F5F5F5;
  border-radius: 32px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
  padding: 25px 15px;

  .heading {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .d-flex {
    flex-wrap: wrap;
  }

  &__content {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .section__title {
    width: 100%;
    font-weight: 700;
    font-size: 38px;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .part {
    width: 50%;
    padding: 0 10px;
  }
}