@use "../utils/mixins";
@use "../utils/variables";

.single-article {


  @include mixins.respond-to(variables.$xs) {

  }
}

.article {


  &__header {


    .heading {

    }
  }

  &__thumb {


    img {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-post__author {


    &:hover,
    &:focus {
      .info-author {

      }
    }
  }

  .card-post__avatar {

  }

  @include mixins.respond-to(variables.$sm) {

  }
}