@use "../utils/mixins";
@use "../utils/variables";

.footer {
  background-color: variables.$mint-100;
  padding: 57px 0 40px;
  overflow: hidden;
  margin-bottom: 15vh;

  .heading_md {
    font-size: clamp(20px, calc(20px + 16 * ((100vw - 768px) / 772)), 36px);
    text-align: center;
    color: variables.$green-100;
    margin-bottom: 50px;
  }

  &_top {
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__nav {
    display: flex;
    width: 100%;
    margin-bottom: 115px;
  }

  &__nav-item {
    width: 25%;
  }

  &__menu {
    padding-right: 15px;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
  }

  &__menu-general a,
  &__title {
    display: inline-block;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      background-color: variables.$main-color;
      height: 1px;
      width: 100%;
      left: 0;
      bottom: 0;
      z-index: 1;
      transition: width 0.35s;
    }
  }

  &__menu-general li a:hover:after,
  &__menu-general li a:focus:after,
  &__nav a:hover:after,
  &__nav a:focus:after {
    width: 0;
  }

  &__sub-menu {
    font-size: 22px;

    li {
      margin-bottom: 13px;
    }

    a {
      display: inline-block;
      padding-top: 12px;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

  }

  &__menu-general {
    padding-top: 48px;
    text-align: right;

    li {
      margin-bottom: 13px;
    }

    a {
      display: inline-block;
      padding-top: 12px;
    }
  }

  &__logo-farm {
    display: inline-block;
    max-width: 195px;
    margin-left: 40px;

    img {
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }

  &__contacts {
    max-width: 755px;
    font-size: 22px;

    a {
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &_bottom {
    font-size: 16px;
    line-height: 2;
    text-align: center;
  }

  &__note {
    max-width: 1090px;
    width: 100%;
    margin: 0 auto;
  }

  &__license {
    padding-top: 50px;
  }
}

.footer-col-wrap {
  display: flex;
  flex-wrap: wrap;
}

.footer__col {
  text-align: left;
  width: 25%;
  padding: 0 16px;
  margin-bottom: 25px;
}

.footer__col-header {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.footer__col-content {
  font-size: 18px;
  line-height: 1.75;
}

.disclaimer {
  background-size: cover;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 15vh;
  z-index: 500;

  img {
    display: block;
    width: 100%;
    height: 15vh;
    max-width: 100%;
  }
}

.copyright {
  width: 100%;
  text-align: right;
}

.block-subscribe {
  padding-bottom: 50px;
  border-bottom: 1px solid variables.$green-100;

  .heading_md {
    font-weight: 400;
  }
}

#popup_cookie {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #FFFFFF;
  padding: 20px 0;
  font-size: 14px;

  .container {
    display: flex;
    align-items: center;
  }

  .btn_main {
    flex-shrink: 0;
    height: min-content;
    margin-left: 25px;
    font-size: 16px;
  }
}

@include mixins.respond-to(variables.$xl) {
  .footer__contacts,
  .footer__title,
  .footer__sub-menu {
    font-size: 20px;
  }
}

@include mixins.respond-to(variables.$screen-md) {
  .footer {
    font-size: 16px;
  }
  .footer__contacts,
  .footer__title,
  .footer__sub-menu {
    font-size: 15px;
  }
  .footer__menu-general {
    font-size: 16px;
  }
  .footer__logo-farm {
    max-width: 171px;
  }

}

@include mixins.respond-to(variables.$md) {
  .footer__contacts {
    width: 60%;
  }
  .footer__logo-farm {
    max-width: 136px;
  }
  .footer__contacts,
  .footer__title,
  .footer__sub-menu {
    font-size: 17px;
  }
  .footer__nav {
    flex-wrap: wrap;
  }
  .footer__menu-general {
    padding-top: 25px;

    li {
      text-align: left;
    }
  }
  .footer__nav {
    margin-bottom: 25px;
  }
  .footer__nav-item {
    width: 33.33%;

    &:last-child {
      width: 100%;
    }
  }
  .footer_bottom {
    font-size: 12px;
  }
  .footer__col {
    text-align: left;
    width: 33.33%;
  }
}

@include mixins.respond-to(variables.$sm) {
  .footer__nav-item:nth-child(n) {
    width: 50%;
    margin-bottom: 25px;
  }
  .footer__col {
    width: 50%;
  }
  #popup_cookie {
    .container {
      display: block;
      text-align: center;
    }

    .btn_main {
      margin-top: 25px;
    }
  }
}

@include mixins.respond-to(variables.$xs) {
  .footer {
    padding: 25px 0;

    &_top {
      padding-bottom: 25px;
      padding-top: 25px;
    }

    text-align: center;

    &__menu {
      padding-right: 0;
    }

    &__menu-general {
      width: 100%;
      padding-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        margin-bottom: 15px;

        a {
          padding: 0;
          font-weight: 700;
        }
      }

      li:last-of-type {
        display: none;
      }
    }

    &__logo-farm {
      margin: 25px auto 12px;
    }

    .copyright {
      text-align: center;
    }

    &__contacts {
      font-size: 16px;
    }

    &__contacts,
    &__nav-item:nth-child(n) {
      width: 100%;
      margin-bottom: 0;
    }

    &__title {
      font-size: 16px;
    }

    &__sub-menu {
      display: none;
    }
  }
  .footer .heading_md {
    margin-bottom: 25px;
  }
  .footer__contacts {
    padding-top: 25px;
  }
  .block-subscribe {
    padding-bottom: 25px;
  }
  .form-subscribe .form__group {
    padding-bottom: 25px;
  }
  .footer__license {
    padding-top: 25px;
  }
  #popup_cookie {
    .btn_main {
      height: 40px;
    }
  }
}

@include mixins.respond-to(variables.$xxs) {
  .footer {
    &__nav {
      margin-bottom: 0;
    }
  }
  .footer__col-header {
    font-size: 14px;
  }

  .footer__col-content {
    font-size: 13px;
  }
}