@use "../utils/mixins";
@use "../utils/variables";

.footer {
  background-color: variables.$mint-100;
  padding: 57px 0 40px;

  .heading_md {
    text-align: center;
    color: variables.$green-100;
    margin-bottom: 50px;
  }

  &_top {
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__nav {
    display: flex;
    width: 100%;
    margin-bottom: 115px;
  }

  &__nav-item {
    width: 25%;
  }

  &__menu {
    padding-right: 15px;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
  }

  &__menu-general a,
  &__title {
    display: inline-block;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      background-color: variables.$main-color;
      height: 1px;
      width: 100%;
      left: 0;
      bottom: 0;
      z-index: 1;
      transition: width 0.35s;
    }
  }

  &__menu-general li a:hover:after,
  &__menu-general li a:focus:after,
  &__nav a:hover:after,
  &__nav a:focus:after {
    width: 0;
  }

  &__sub-menu {
    font-size: 22px;

    li {
      margin-bottom: 13px;
    }

    a {
      display: inline-block;
      padding-top: 12px;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

  }

  &__menu-general {
    padding-top: 48px;
    text-align: right;

    li {
      margin-bottom: 13px;
    }

    a {
      display: inline-block;
      padding-top: 12px;
    }
  }

  &__logo-farm {
    display: inline-block;
    max-width: 195px;
    margin-left: 40px;

    img {
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }

  &__contacts {
    max-width: 755px;
    font-size: 22px;
  }

  &_bottom {
    font-size: 16px;
    line-height: 2;
    text-align: center;
  }

  &__note {
    max-width: 1090px;
    width: 100%;
    margin: 0 auto;
  }

}

.copyright {
  width: 100%;
  text-align: right;
}

.block-subscribe {
  padding-bottom: 50px;
  border-bottom: 1px solid variables.$green-100;
}

@include mixins.respond-to(variables.$xl) {
  .footer__contacts,
  .footer__title,
  .footer__sub-menu {
    font-size: 20px;
  }
}

@include mixins.respond-to(variables.$screen-md) {
  .footer {
    font-size: 16px;
  }
  .footer__contacts,
  .footer__title,
  .footer__sub-menu {
    font-size: 16px;
  }
  .footer__menu-general {
    font-size: 17px;
  }
  .footer__logo-farm {
    max-width: 171px;
  }
}

//@include mixins.respond-to(variables.$xs) {

//}
@include mixins.respond-to(variables.$md) {

}

@include mixins.respond-to(variables.$sm) {

}

@include mixins.respond-to(variables.$xs) {

}