@use "../utils/mixins";
@use "../utils/variables";

.container{
  width: 100%;
  max-width: 1440px;
  padding: 0 64px;
  margin: 0 auto;

  @include mixins.respond-to(variables.$lg){
    padding: 0 32px;
  }

  @include mixins.respond-to(variables.$sm){
    padding: 0 24px;
  }
  @media screen and (max-width: 340px){
    padding: 0 16px;
  }
}
