@use "../utils/mixins";
@use "../utils/variables";

.header {
  padding: 29px 0;
  position: fixed;
  background-color: variables.$mint;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 16px;
  color: variables.$main-color;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }

  &__logo {
    display: block;
    max-width: 86px;
    width: 100px;

    img {
      width: 100%;
    }
  }

  &__nav .btn_close {
    display: none;
  }
}

.btn_burger {
  border: none;
  background-color: transparent;
  display: none;
  height: 27px;
  margin-left: 24px;

  .line {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    background-color: variables.$green;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.btn_close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #000;
    left: 2px;
    top: 11px;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}


.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .3;
  z-index: 500;
}


@include mixins.respond-to(variables.$md) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;

    .container {
      align-items: center;
    }

    &__nav {
      position: absolute;
      left: 0;
      right: 0;
      top: -30px;
      transform: translateY(-100%);
      transition: transform .35s;
      background-color: #FFFFFF;
      padding: 100px 25px;

      height: calc(100vh + 30px);
      height: calc(100svh + 30px);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      &.open {
        transform: translateY(0);
      }

      .btn_close {
        display: block;
      }
    }
  }
  .btn_burger {
    display: block;
  }
  .search_open {
    margin-left: auto;
  }
}
@include mixins.respond-to(variables.$xs) {

}
@include mixins.respond-to(variables.$xxs) {
  .header__logo {
    max-width: 50px;
  }
  .btn_burger {
    margin-left: 10px;
    .line{
      width: 17px;
      height: 2px;
      margin-bottom: 3px;
    }
  }
  .search_open {
    margin-left: auto;
  }
}