@use "../utils/mixins";
@use "../utils/variables";

.header {
  padding: 29px 0;
  position: fixed;
  background-color: variables.$mint;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 16px;
  color: variables.$main-color;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }

  &__logo {
    display: block;
    max-width: 86px;
    width: 100px;

    img {
      width: 100%;
    }
  }

}

.btn_burger {
  border: none;
  background-color: transparent;
  display: none;
  height: 27px;
  margin-left: 24px;
  .line {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    background-color: variables.$green;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.btn_close {
  position: absolute;
  display: none;
  top: 50%;
  transform: translateY(-50%);

}


.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .3;
  z-index: 500;
}


@include mixins.respond-to(variables.$md) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
    .container{
      align-items: center;
    }
    &__nav {
      position: absolute;
      left: 0;
      right: 0;
      top: -30px;
      transform: translateY(-100%);
      transition: transform .35s;
      background-color: #FFFFFF;

      &.open {
        transform: translateY(0);
      }
    }
  }
  .btn_burger,
  .btn_close{
    display: block;
  }
  .search_open{
    margin-left: auto;
  }
}