@use 'utils/variables';
@use 'utils/mixins';

@use '../../lib/swiper/swiper-bundle.min';

@use 'base/reset';
@use 'base/base';
@use 'base/typography';

@use 'components/button';
@use 'components/nav';
@use 'components/slider';
@use 'components/pagination';
@use 'components/toggle-content';
@use 'components/popup';
@use 'components/search';
@use 'components/counter';
@use 'components/video';
@use 'components/card-product';
@use 'components/tabs';
@use 'components/card-post';
@use 'components/accordion';
@use 'components/form';
@use 'components/breadscrumb';
@use 'components/custom-select';

@use 'layout/layout';
@use 'layout/grid';
@use 'layout/header';
@use 'layout/footer';
@use 'layout/sections/section-banner';
@use 'layout/sections/section-products';
@use 'layout/sections/section-calendar';
@use 'layout/sections/section-with-tabs';
@use 'layout/sections/section-info';
@use 'layout/sections/section-question';
@use 'layout/sections/section-video';
@use 'layout/sections/section-intro';
@use 'layout/sections/section-blog';



@use 'pages/blog';
@use 'pages/single-article';

@use 'pages/page';
@use 'pages/about-allergy';
@use 'pages/page-allergens';
@use 'pages/page-useful';




